[Desktop Entry]
Name=PiLoad
Comment=yt-dlp locally or on a DietPi Raspberry Pi
Exec=piload
Icon=com.abb0r.PiLoad
Terminal=false
Type=Application
Categories=Network;AudioVideo;
StartupNotify=true
